{% extends "base.html" %}
{% block content %}
    {% load static %}
    {% load paginator_tags %}
    <section id="home">
        <section class="wrapper">
            {% include 'web/includes/header.html' %}
            <section class="spotlight">
                <h3>Posts</h3>
                <div class="all-posts">
                    <div class="post-section">
                        <ul class="posts">
                            {% for post in instances %}
                                <li>
                                    <a href="{% url 'web:post' id=post.id %}">
                                        <div class="blog-image">
                                            <img src="{{ post.featured_image.url }}" alt="Blog" />
                                        </div>
                                        <div class="details">
                                            <div class="date">
                                                <h4 class="name">{{ post.author.name }}</h4>
                                                <div class="round"></div>
                                                <span>{{ post.published_date|date:"d-M-Y l" }}</span>
                                            </div>
                                            <h3 class="head">{{ post.title }}</h3>
                                            {% comment %} <h3 class="head">{{ post.title | title }}</h3> {% endcomment %}
                                            {% comment %} <h6>Draft: {{post.is_draft|yesno:"Yes,No"}}</h6> {% endcomment %}
                                            <h6>Comments {{6|add:10}}</h6>
                                            <p class="description">{{ post.short_description }}</p>
                                            {% comment %} <p class="description">{{ post.short_description | truncatechars:3 }}</p> {% endcomment %}
                                            {% comment %} <p class="description">{{ post.short_description | truncatewords:3 }}</p> {% endcomment %}
                                            {% comment %} <p class="description">{{post.description|safe|striptags|truncatechars:3}}</p> {% endcomment %}
                                        </div>
                                    </a>
                                    <div class="bottom">
                                        {% comment %} {% for tag in post.categories.all|slice:2 %} {% endcomment %}
                                        {% for tag in post.categories.all %}
                                            <a href="#" class="design {% cycle 'one' 'two' 'three' %}">{{ tag.title }}</a>
                                        {% endfor %}
                                        {% comment %} <a href="#" class="design one">{{ post.categories.all|first }}</a> {% endcomment %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                        {% load_pagination instances %}
                        
                    </div>
                    <div class="filter-section" id="hamburger-menu">
                        <form action="">
                            <input type="text" name="q" placeholder="Search anything..." />
                            <p class="filter-head">Sort by</p>
                           
                                    <p class="filter-head">Categories</p>
                                    <div class="filter">
                                        {% for category in categories %}
                                            <label class="checkbox">
                                                <input type="checkbox" value="{{category.id}}" name="category" />
                                                <span class="label">{{category.title}}</span>
                                            </label>
                                        {% endfor %}
                                    </div>
                                    <p class="filter-head">Authors</p>
                                    <div class="filter">
                                        {% for author in authors %}
                                            <label class="checkbox">
                                                <input type="checkbox" value="{{author.id}}" name="author" />
                                                <span class="label">{{author.name}}</span>
                                            </label>
                                        {% endfor %}
                                    </div>
                                    <input type="submit" value="Filter" />
                                </form>
                            </div>
                        </div>
                    </section>
                    <div id="overlay">
                    </div>
                    <div id="close">
                        <img src="{% static 'images/icons/close.svg' %}" alt="" />
                    </div>
                </section>
            </section>
        {% endblock %}
